# Backend
fastapi==0.109.2
uvicorn[standard]==0.27.1

# Frontend
streamlit==1.37.1

# LangChain
langchain==0.3.27
langchain-core==0.3.72
langchain-community==0.3.27
langchain-ollama==0.2.3

# Banco vetorial
chromadb==0.5.5

# Embeddings
sentence-transformers==3.0.1

# Leitura de PDFs
pypdf==4.3.1

# Utilidades
python-dotenv==1.0.1
requests==2.32.3

# Modelos
transformers==4.44.2
torch==2.3.1